body{
    display: flex;
    flex: 1;
    background-color: rgb(252, 252, 252);
}

.left-pane {
    display: flex;
    margin-top:-10px;
    margin-left: -10px;
    position: relative;
}

#plant {
    position: relative;
}

#odin-logo{
    color:white;
    font-size: 5rem;
    position:absolute;
    background-color: black;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 230px;
    left: 0;
}

.hero{
    margin-top: 100px;
    padding: 3px 50px 40px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font:bold;
    text-align: justify;
}

fieldset{
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 20px 15px 15px;
    min-height: 170px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-content: space-around;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-color: #E5E7EB;
    box-shadow: none;
    border-width: 2px;
    border-style:solid;
}

input:focus{
    outline:none;
    border-width: 2.5px;
    border-style: solid;
    border-color: blue
}

input, label {
    display: block;
}

#confirm-password{
    margin-top: -20px;
}

label{
    font-family: monospace;
    font-size: 0.75rem;
    padding-top: 20px;
}

legend{
    padding-top: 70px;
    font-size: 1.5rem;
    font-weight: bold;
}