/*Defines the font for the odin logo*/

@font-face {
    font-family: Norse-Bold;
    src: url("assets/Norse-Bold.otf");
}

body{
    display: flex;
    flex: 1;
    background-color: rgb(252, 252, 252);
}
/*For the left side of the website, with the plant
and the logo*/

.left-pane {
    display: flex;
    margin-top:-10px;
    margin-left: -10px;
    position: relative;
}

#plant {
    position: relative;
}

#odin-logo{
    color:white;
    font-size: 6.5rem;
    position:absolute;
    background-color: black;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 230px;
    left: 0;
    font-family: Norse-Bold;
}

/*Right side, with the quote and form*/
.hero{
    margin-top: 100px;
    padding: 3px 50px 40px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font:bold;
    text-align: justify;
}

/*form style*/

fieldset{
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 15px 20px 15px 15px;
    min-height: 170px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-content: space-around;
}

/*input and labels style*/

input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-color: #E5E7EB;
    box-shadow: none;
    border-width: 2px;
    border-style:solid;
}

input:focus{
    outline:none;
    border-width: 2.5px;
    border-style: solid;
    border-top-color: blue;
}

input[type="password"]:invalid {
    border-bottom-color: red;
}

input[type="password"]:invalid:first-child {
    border-bottom-color: red;

}

input, label {
    display: block;
}

#password2{
    margin-top: -20px;
}

label{
    font-family: monospace;
    font-size: 0.75rem;
    padding-top: 20px;
}

legend{
    padding-top: 70px;
    font-size: 1.5rem;
    font-weight: bold;
}

#message{
    font-family: monospace;
    font-size: 0.75rem;
    color: red;
}

/*button and last login phrase*/

button {
    width: 200px;
    height: 45px;
    background-color:rgb(0, 99, 0);
    color: #fff;
    border-color: black;
    border-width: 2.5;
    border-radius: 8px;
    margin:40px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
}

.log-in{
    margin-left:90px;
    margin-top: -38px;
}

.log-in> a {
    color:rgb(0,99,0)
}